ul{
    list-style-type: none;
    display: flex;
    justify-content: right;
}

li{
    margin: 0.5%;
    font-size: 1.4rem;
}

.form_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.logo{
     width: 20vw;
     padding: 2vh
}

.search_bar{
    width:40vw;
    border-radius: 20px;
    height: 4.5vh;
    padding: 1vh;
    border-color: gray;
}

.form{
    display: flex;
    flex-direction: column;
}

.btn{
    width: 10vw;
    height: 4vh;
    margin-top: 2vh;
    padding: auto;
    align-self:center;
}

.row{
    display: flex;
    flex-direction: row;    
}

label{
    width:18%;
    
}
.adv_text{
    width:35%;
    height: 4vh;
    margin: 2vh,1vw,2vh, 1vw;
}

.adv_btn{
    display: block;
    background-color: blue;
    color: white;
    width:10vw;
    height: 5vh;
    align-self: center;
}